body {
    margin: 0%;
    background-color: rgb(249, 249, 255);
}
#topbar {
    height: 15pt;
    text-align: right;
    color: rgb(119, 119, 119);
    background-color: rgb(34, 34, 34);
    padding-right: 20px;
}
#topbar a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    transition: 0.3s;
}
#topbar a:hover {
    color: rgb(196, 196, 196);
    transition: 0.3s;
}
#header {
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#image-filler
{
    grid-area: 2 / 2 / 3 / 3;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.title {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#header span {
    grid-area: 4 / 2 / 5 / 3;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#navigation {
    position: sticky;
    top: 0px;
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    background-color: rgb(255, 255, 255);
}
#navigation a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#navigation a:hover {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#navigation a:visited {
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
#navigation .menu {
    grid-area: 1 / 2 / 2 / 3;
    align-items: center;
    justify-content: center;
    display: grid;
    /* Change this next line when adding/removing menu items */
    grid-template-columns: 100px 100px;
    grid-row-start: 1;
    grid-row-end: 1;
}
.menu-item {
    margin: 2pt;
    text-align: center;
    text-justify: center;
    height: 25px;
    border-bottom: 2.5px solid transparent;
    margin: 0;
}
.menu-item:hover {
    border-bottom: 2.5px solid blue;
    transition: 0.3s;
}
.active-menu {
    border-bottom: 2.5px solid blue;
}
#projects {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px 10px;
    margin: 10px;
}

.one {
    grid-template-columns: 1fr;
}
.two {
    grid-template-columns: 1fr 1fr;
}
.three {
    grid-template-columns: 1fr 1fr 1fr;
}

#item {
    display: grid;
    grid-template-rows: 100px 20px 100px;
    padding: 5px;
    border: 1px solid gray;
    background-color: rgb(249, 249, 255);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
}
#item img {
    height: 100px;
    justify-self: center;
}
#item h4 {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
}
#item p {
    text-align: center;
    margin: 0;
    padding: 0;
}
#item:hover {
    background-color: rgb(228, 228, 255);
    border: 1px solid rgb(182, 182, 182);
    transition: 0.5s;
}
#footer {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    margin: 10px;
}
#copyright {
    grid-area: 2 / 2 / 3 / 3; 
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 117, 117);
    background-color: rgb(30, 30, 30);
    width: 100%;
    border-radius: 3px;
    text-align: center;
}