body
{
    background-color: rgb(50, 50, 54);
    margin: 0%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header
{
    width: 100%;

    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: -100pt;
    z-index: 2;
}

#top-header
{

    width: 100%;
    height: 100pt;
    background-color: rgb(0, 29, 192);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btm-header
{
    color: white;
    width: 100%;
    background-color: rgb(0, 183, 255);
    height: 40pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btm-header ul
{
    font-size: 20pt;
    padding: 2pt;
    display: flex;
    align-content: center;
    justify-content: center;
}

#btm-header li
{
    justify-content: center;
    align-content: center;
    padding: 7pt 7pt;
    display: inline;
}

#btm-header a:link
{
    color: white;
    text-decoration: none;
}

#btm-header a:active
{
    color: white;
    text-decoration: none;
}

#btm-header a:visited
{
    color: white;
    text-decoration: none;
}

#btm-header a:hover
{
    background-color: rgb(0, 113, 158);
    text-decoration: none;
    border-radius: 7pt;
}

#container
{
    position: relative;
    width: 100%;
    background-color: white;
}

#content
{
    background-color: transparent;
    position: relative;
    padding: 10px;

    width: 75%;
    left: 13.5%;
    text-align: center;
    justify-self: center;
}

.left
{
    text-align: left;
}

#content a:link
{
    color: rgb(33, 116, 0);
    text-decoration: none;
}

#content a:active
{
    color: rgb(33, 116, 0);
    text-decoration: none;
}

#content a:visited
{
    color: rgb(33, 116, 0);
    text-decoration: none;
}

#content a:hover
{
    color: rgb(44, 155, 1);
    text-decoration: underline;
}

#footer
{
    color: rgb(161, 161, 161);
    background-color: rgb(50, 50, 54);
    height: 100pt;
    width: 100%;
    align-content: center;
    justify-content: baseline;
}

#left-footer
{
    float: left;
    margin-left: 10pt;
    margin-top: 6pt;
    font-size: 9pt;
}

#right-footer
{
    float: right;
    margin-right: 10pt;
    top: 10pt;
}

#right-footer ul
{
    display: flex;
    align-content: center;
    justify-content: center;
}

#right-footer li
{
    justify-content: center;
    align-content: center;
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
    padding-top: 1pt;
    padding-left: 4pt;
    padding-right: 4pt;
}

#right-footer a:link
{
    background-color: transparent;
}

#right-footer a:hover
{
    background-color: rgb(69, 69, 69);
    border-radius: 9pt;
}

#right-footer a:visited
{
    background-color: transparent;
}

#right-footer a:active
{
    background-color: rgb(69, 69, 69);
    border-radius: 9pt;
}

#content table
{
    height: auto;
    width: 100%;
}
#content tr
{
    height: auto;
}

#content td
{
    color: black;
    width: 25%;
}

.td-text
{
    border: 1pt solid rgb(200, 200, 200);
    background-color: rgb(236, 236, 236);
    border-radius: 4pt;
    padding-left: 2pt;
    padding-right: 2pt;
    vertical-align: top;
}

.td-text h4
{
    top: 2pt;
    line-height: 1pt;
}

.td-hidden
{
    background-color: transparent !important;
    color: transparent !important;
    border: 1pt solid transparent !important;
}

.td-text:hover
{
    background-color: rgb(246, 246, 246);
}

* 
{
    box-sizing:border-box
}

/* Slideshow container */
.slideshow-container
{

    max-width: 60%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides
{
    display: none;
}

/* Next & previous buttons */
.prev, .next
{
    background-color: rgba(0, 0, 0, 0.26);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next
{
    color: rgb(143, 143, 143);
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev
{
    color: rgb(143, 143, 143);
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
    color: white;
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text
{
    background-color: rgba(0, 0, 0, 0.383);
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

a .text
{
    background-color: rgba(0, 0, 0, 0.383);
}

a:hover .text
{
    background-color: rgba(0, 0, 0, 0.500);
}

a:active .text
{
    background-color: rgba(0, 0, 0, 0.500);
}

a:visited .text
{
    background-color: rgba(0, 0, 0, 0.383);
}

.mySlides img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300pt;
    max-width: 100%;
}

/* Number text (1/3 etc) */
.numbertext
{
    color: rgb(136, 136, 136);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover
{
    background-color: #717171;
}

/* Fading animation */
.fade 
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade
{
    from {opacity: .4} 
    to {opacity: 1}
}