<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fantastic-chainsaw</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>150411D63007BD1C1FC404A299C56C1DCD306813</string>
				<key>dateExpires</key>
				<string>10/22/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
			</dict>
			<key>name</key>
			<string>fantastic-chainsaw.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>58X7XVG57X</string>
				<key>name</key>
				<string>Benjamin Zobrist</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
